{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-flow-strip-types",
    "transform-object-rest-spread",
    ["styled-components", {
      "ssr": true
    }]
  ]
}
