{
  "presets": [
    "env",
    "react",
    "flow"
  ],
  "plugins": [
    "transform-html-import-to-string",
    "transform-class-properties",
    "react-hot-loader/babel",
    ["module-resolver", {
      "alias": {
       "server": "./server",
       "config": "./config",
       "component": "./client/component",
       "action": "./client/action",
       "reducer": "./client/reducer",
      }
    }]
  ]
}
