# dependencies
node_modules/

# build
dist/
build/
.build

# test output
coverage/
reports/

# devlopment cache
docker_compose/
data/

Dockerfile
README.md
LICENSE
circle.yml
.gitignore
.gitlab-ci.yml
.DS_Store
.git
