# dependencies
node_modules/

# build
dist/
build/
.build

# test output
coverage/
reports/

# devlopment cache
docker_compose/
data/

# flow-typed package
flow-typed/npm/

# dot files
README.md
LICENSE
.gitignore
.DS_Store
.git
