# dependencies
node_modules/

# build
dist/
build/
.build

# test output
coverage/
reports/

# development cache
docker_compose/
data/

# flow-typed package
flow-typed/npm/

# dot files
README.md
LICENSE
.gitignore
.DS_Store
.git

# temporary
client/components/**/packages
