sudo: required
language: node_js
services:
  - docker
node_js:
  - "node"
before_install:
  - docker build . -t boilderplate
  - docker run boilderplate npm test
script:
  - yarn cover
after_script:
  - cat coverage/lcov.info | node_modules/coveralls/bin/coveralls.js
after_success:
  - if [ "$TRAVIS_BRANCH" == "master" ]; then
    docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
    docker push USER/REPO;
    fi
branches:
  only:
    - master
cache:
  yarn: true
  directories:
  - node_modules
